<div class="row no-gutters my-5">
  <section class="col-md-8 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title text-center">Edit Blog</h2>
        <div class='px-3'>
          <%= render 'shared/blog', blog: @blog %>
        </div>
      </div>
    </div>
  </section>
</div>
