<section class='d-flex justify-content-between mb-1'>
  <div class='d-flex align-items-center'>
    <%= image_tag resource_image_url(author, :avatar, 'default_profile_picture.png'), class: 'mr-3 rounded-circle shadow-sm', height: 30, alt: author.username %>
    <h5 class='m-0'><%= author.username %></h5>
  </div>
</section>